# Downloaded by scripts/install-binary.sh at `helm plugin install`/`update` time
/router-diagnostics-helm-plugin/bin/

# MacOS DS_Store files
.DS_Store

# Python bytecode cache
__pycache__/
*.pyc

bundle-verification/target

# Created when we run `helm router-diagnostics collect` when a Chainsaw test runs locally
support-bundle-*.tar.gz
